@charset "utf-8";

/*==simple reset==*/
body,ul,li,p,img,h1,h2,h3,h4,h5{
	padding: 0;
	margin: 0;
	border:0;
}
body{
	font: 12px "Microsoft Yahei";
	background: #e6e6e6;
}
ul,li{
	list-style: none;
}
a{
	text-decoration: none;
}

/*==utilities==*/
.clearfix {
  *zoom: 1;
}

.clearfix:before,.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}

.clearfix:after {
  clear: both;
}
.pull-left{
	float: left;
}
.pull-right{
	float: right;
}
.pr{
	position: relative;
}
.pa{
	position: absolute;
}
.hide,.none{
	display: none;
}
.text-right{
	text-align: right;
}
.text-left{
	text-align: left;
}
.text-center{
	text-align: center;
}
.mt20{
	margin-top: 20px;
}
.padlf{
	padding-left: 1.5em;
}
.center{
	margin-left: auto;
	margin-right: auto;
}
.overflow{
	overflow: hidden;
}

/*==nio-list==*/
.nio-weather{
	width: 950px;
	z-index: 2;
}
.nio-list{
	background: #fff;
	color: #fff;
	font-size: 14px;
	position: relative;
	z-index: 3;
}
.nio-list,.nio-detail,.nio-detail ul{
	width: 670px;
	height: 80px;
}
.nio-detail li{
	float: left;
	width: 117px;
	height: 80px;
}
.nio-color1{
	background-color: #cb0000;
}
.nio-color2{
	background-color: #f21d1d;
}
.nio-detail .nio-color3{
	background-color: #ff4d4d;
	padding: 10px;
	width: 97px;
	height: 60px;
}
.nio-color1 p{
	text-align: center;
}
.nio-color2{
	font-size: 57px;
	text-align: center;
	line-height: 80px;
}
.nio-shift{
	background-color: #fff;
	padding: 0 2px;
	font-size: 10px;
	font-weight: bold;
	-webkit-text-size-adjust:none;
	text-decoration: none;
	color: #f21d1d;
	margin-top: 3px;
}
.nio-city{
	display: inline-block;
	width: 65px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.nio-detail .nio-heart{
	background: url(../images/nioweather/index/nio-heart.jpg) no-repeat 15px center;
	color: #353535;
	padding: 20px 0 10px 40px;
	width: 279px;
	height: 50px;
}

/*==nio-tab==*/
.nio-tabs{
	width: 280px;
	height: 80px;
}
.nio-tabs li{
	float: left;
}
.nio-tab{
	background: #a0a0a0 url(../images/nioweather/index/nio-line.png) no-repeat right center;
	width: 56px;
	height: 50px;
	padding: 15px 0;
	text-align: center;
	float: left;
	color: #fff;
	cursor: pointer;
	z-index: 2;
}
.nio-active .nio-tab{
	background-color: #d2d2d2;
}
.nio-nobg{
	background-image: none;
}

/*==weather icons==*/

.nio-weather i{
	background: url(../images/nioweather/index/nio-icons.png) no-repeat 30px;
	display: block;
	margin: 0 auto;
}
.nio-color1 i{
	width: 72px;
	height: 55px;
}
.nio-tab i{
	width: 50px;
	height: 30px;
	margin-bottom: 5px;
}
/*== nio-color1 ==*/
.nio-color1 .nio-0{
	background-position: 10px 0;
}
.nio-color1 .nio-1{
	background-position: -80px 0;
}
.nio-color1 .nio-2{
	background-position: -168px 0;
}
.nio-color1 .nio-3{
	background-position: -255px 0;
}
.nio-color1 .nio-4{
	background-position: -345px 0;
}
.nio-color1 .nio-5{
	background-position: -431px 0;
}
.nio-color1 .nio-6{
	background-position: -609px 0;
}
.nio-color1 .nio-7{
	background-position: -698px 0;
}
.nio-color1 .nio-8{
	background-position: -791px 0;
}
.nio-color1 .nio-9{
	background-position: -885px 0;
}
.nio-color1 .nio-10{
	background-position: 10px -125px;
}
.nio-color1 .nio-11{
	background-position: -76px -125px;
}
.nio-color1 .nio-12{
	background-position: -164px -125px;
}
.nio-color1 .nio-13{
	background-position: -255px -122px;
}
.nio-color1 .nio-14{
	background-position: -342px -125px;
}
.nio-color1 .nio-15{
	background-position: -423px -125px;
}
.nio-color1 .nio-16{
	background-position: -511px -121px;
}
.nio-color1 .nio-17{
	background-position: -603px -119px;
}
.nio-color1 .nio-18{
	background-position: -698px -121px;
}
.nio-color1 .nio-19{
	background-position: -791px -121px;
}
.nio-color1 .nio-20{
	background-position: -884px -121px;
}
.nio-color1 .nio-21{
	background-position: -342px -242px;
}
.nio-color1 .nio-22{
	background-position: -424px -242px;
}
.nio-color1 .nio-23{
	background-position: -508px -242px;
}
.nio-color1 .nio-24{
	background-position: -602px -242px;
}
.nio-color1 .nio-25{
	background-position: -704px -242px;
}
.nio-color1 .nio-26{
	background-position: -795px -244px;
}
.nio-color1 .nio-27{
	background-position: -875px -244px;
}
.nio-color1 .nio-28{
	background-position: -963px -244px;
}
.nio-color1 .nio-29{
	background-position: 10px -244px;
}
.nio-color1 .nio-30{
	background-position: -73px -244px;
}
.nio-color1 .nio-31{
	background-position: -172px -244px;
}
.nio-color1 .nio-53{
	background-position: -257px -240px;
}

/*== nio-tab ==*/
.nio-tab .nio-0{
	background-position: 6px -429px;
}
.nio-tab .nio-1{
	background-position: -84px -429px;
}
.nio-tab .nio-2{
	background-position: -171px -429px;
}
.nio-tab .nio-3{
	background-position: -253px -429px;
}
.nio-tab .nio-4{
	background-position: -349px -429px;
}
.nio-tab .nio-5{
	background-position: -433px -429px;
}
.nio-tab .nio-6{
	background-position: -614px -429px;
}
.nio-tab .nio-7{
	background-position: -704px -429px;
}
.nio-tab .nio-8{
	background-position: -800px -429px;
}
.nio-tab .nio-9{
	background-position: -888px -429px;
}
.nio-tab .nio-10{
	background-position: 6px -549px;
}
.nio-tab .nio-11{
	background-position: -83px -549px;
}
.nio-tab .nio-12{
	background-position: -176px -549px;
}
.nio-tab .nio-13{
	background-position: -261px -546px;
}
.nio-tab .nio-14{
	background-position: -345px -546px;
}
.nio-tab .nio-15{
	background-position: -425px -546px;
}
.nio-tab .nio-16{
	background-position: -515px -542px;
}
.nio-tab .nio-17{
	background-position: -612px -542px;
}
.nio-tab .nio-18{
	background-position: -706px -548px;
}
.nio-tab .nio-19{
	background-position: -799px -551px;
}
.nio-tab .nio-20{
	background-position: -890px -547px;
}
.nio-tab .nio-21{
	background-position: -346px -656px;
}
.nio-tab .nio-22{
	background-position: -430px -656px;
}
.nio-tab .nio-23{
	background-position: -508px -653px;
}
.nio-tab .nio-24{
	background-position: -610px -653px;
}
.nio-tab .nio-25{
	background-position: -707px -653px;
}
.nio-tab .nio-26{
	background-position: -800px -653px;
}
.nio-tab .nio-27{
	background-position: -888px -653px;
}
.nio-tab .nio-28{
	background-position: -968px -649px;
}
.nio-tab .nio-29{
	background-position: 4px -656px;
}
.nio-tab .nio-30{
	background-position: -80px -654px; 
}
.nio-tab .nio-31{
	background-position: -173px -654px;
}
.nio-tab .nio-53{
	background-position: -263px -654px; 
}
/*==nio-showcase==*/
.nio-heart h4{
	font-size: 14px;
	font-weight: bold;
}
.nio-heart h4 a{
	background: #f21d1d;
	color: #fff;
	padding: 1px 8px;
}
.nio-heart p{
	line-height: 1.8;
}

/*==nio-location==*/
.nio-location{
	background: #d2d2d2;
	padding: 5px 12px;
	width: 326px;
	left: 270px;
	top: 36px;
	color: #555;
	font: 12px "Arial";
	z-index: 5;
}
.nio-location select{
	width: 96px;
	height: 21px;
	vertical-align: middle;
	margin-right: 5px;
}
.nio-location .pull-right,.nio-location .caret{
	background: url(../images/nioweather/index/nio-city-pop.png) no-repeat;
}
.nio-location .pull-right{
	background-position: 0 -4px;
	width: 8px;
	height: 8px;
	margin-top: 7px;
	text-indent: -299em;
}
.nio-location .caret{
	width: 7px;
	height: 4px;
	top: -4px;
	left: 54px;
	display: block;
}
.nio-location input{
	background: #f00;
	color: #fff;
	border: 0;
	vertical-align: middle;
	cursor: pointer;
}